@inherits MultiSelectBase<TItem, TKey>
@typeparam TItem
@typeparam TKey

@if (Options != null)
{
    <ul class="list-group">
        @foreach (var item in Options)
        {
            var active = IsSelected(item) ? "active" : null;
            <li class="list-group-item @active" @onclick="@(() => ToggleItem(item))">
                @ItemTemplate(item)
            </li>
        }
    </ul>
}