.datepicker {
  position: relative;
}
.datepicker.datepicker-expanded .datepicker-dropdown {
  display: block;
}
.datepicker .datepicker-dropdown {
  display: none;
  position: absolute;
  background: white;
  z-index: 1000;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  width: 300px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.datepicker .datepicker-dropdown table {
  margin: 0;
  user-select: none;
}
.datepicker .datepicker-dropdown table th {
  cursor: pointer;
  text-align: center;
}
.datepicker .datepicker-dropdown table td,
.datepicker .datepicker-dropdown table th {
  padding: 0;
  text-align: center;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border-radius: 4px;
}
.datepicker .datepicker-dropdown .prev,
.datepicker .datepicker-dropdown .switch,
.datepicker .datepicker-dropdown .next {
  cursor: pointer;
  text-align: center;
}
.datepicker .datepicker-dropdown .day {
  cursor: pointer;
}
.datepicker .datepicker-dropdown span.month,
.datepicker .datepicker-dropdown span.year {
  display: block;
  float: left;
  cursor: pointer;
  width: 25%;
  height: 54px;
  line-height: 54px;
  border-radius: 4px;
}
.datepicker .datepicker-dropdown .day.active,
.datepicker .datepicker-dropdown .month.active,
.datepicker .datepicker-dropdown .year.active {
  color: #fff;
  background: #204d74;
  border-color: #122b40;
}
.datepicker .datepicker-dropdown .day.muted,
.datepicker .datepicker-dropdown .month.muted,
.datepicker .datepicker-dropdown .year.muted {
  color: #6c757d;
}
.datepicker .datepicker-dropdown .day:hover,
.datepicker .datepicker-dropdown .month:hover,
.datepicker .datepicker-dropdown .year:hover {
  background: #eee;
  color: #212529;
}
.datepicker .datepicker-dropdown .day.disabled,
.datepicker .datepicker-dropdown .month.disabled,
.datepicker .datepicker-dropdown .year.disabled,
.datepicker .datepicker-dropdown .day.disabled:hover,
.datepicker .datepicker-dropdown .month.disabled:hover,
.datepicker .datepicker-dropdown .year.disabled:hover {
  background: 0;
  color: #777;
  cursor: not-allowed;
}